name: ci

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: frenck/action-addon-linter@v2.21
        with:
          path: ./netdata
      - run: tests/test.sh
